@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.bloco {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%) ;
    padding: 20px;
    border-radius:  20px;
    width: 20%;
}

.bloco img {
    border-radius: 20px;
    width: 100%;
}

.bloco h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size:  30px;
}

.bloco p {
    text-align: center;
    color:hsl(216, 15%, 48%);
    font-size: 20px;
    margin: 2px;
}